<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Explore Finland</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css"rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
<style>	body {margin: 20px;}</style>
</head>
<body>
	<div class="d-flex">
		<div class="mr-auto p-2 ">
			<h2>Welcome to Explore Finland!</h2>
		</div>
	  	<div class="p-2">
	  		<p sec:authorize="isAuthenticated()" th:inline="text">[[${#httpServletRequest.remoteUser}]] signed in</p>
	  	</div>
	  	<div class="p-2" sec:authorize="isAuthenticated()">
		  	<form th:action="@{/logout}" method="post">
				<input class="btn btn-outline-dark btn-sm" type="submit" value="Sign Out"/>
			</form>
	 	</div>
	  	<div class="p-2" sec:authorize="!isAuthenticated()">
	  		<a href="/login" class="btn btn-outline-dark btn-sm">Sign in</a>
	  	</div>
	</div>
	<h4>Adventures</h4>
	<table sec:authorize="hasAuthority('USER')" class="table table-striped">
		<tr>
			<th class="d-none">ID</th>
			<th>Activity</th>
			<th>Desciption</th>
			<th>User</th>
			<th>City</th>
			<th>Category</th>
			<th sec:authorize="isAuthenticated()">Mark done</th>
			<th sec:authorize="isAuthenticated()">Delete</th>
			<th sec:authorize="isAuthenticated()">Edit</th>
		</tr>
		<tr th:each="activity : ${activities}">
			<td class="d-none" th:text="${activity.activityId}"></td>
			<td th:text="${activity.name}"></td>
			<td th:text="${activity.desc}"></td>
			<td th:text="${activity.user.username}"></td>
			<td th:text="${activity.city.name}"></td>
			<td th:text="${activity.category.name}"></td>
			<td sec:authorize="isAuthenticated()">
				<a th:if="${activity.isCompleted == true}" th:href="@{/editcomplete/{id}(id=${activity.activityId})}"><i class="fas fa-check-square" style="color: green"></i></a>
				<a th:unless="${activity.isCompleted == true}" th:href="@{/editcomplete/{id}(id=${activity.activityId})}"><i class="far fa-square" style="color: black"></i></a>
			</td>
			<td sec:authorize="isAuthenticated()"><a th:href="@{/delete/{id}(id=${activity.activityId})}"><i class="fas fa-trash" style="color: black"></i></a></td>
			<td sec:authorize="isAuthenticated()"><a th:href="@{/edit/{id}(id=${activity.activityId})}"><i class="fas fa-edit" style="color: black"></i></a></td>
		</tr>
	</table>
	<div class="d-flex">
		<div class="mr-auto p-2" sec:authorize="isAuthenticated()">
	  		<a sec:authorize="hasAuthority('USER')" href="/addactivity" class="btn btn-outline-dark btn-sm">Add new activity</a>
	  		<a sec:authorize="hasAuthority('ADMIN')" href="/adventures" class="btn btn-outline-dark btn-sm">List all activities</a>
	  	</div>
	  	<div class="p-2" sec:authorize="hasAuthority('ADMIN')">
	  		<a href="/addcity" class="btn btn-outline-dark btn-sm">Add city</a>
	  	</div>
		<div class="p-2" sec:authorize="hasAuthority('ADMIN')">
			<a href="/addcategory" class="btn btn-outline-dark btn-sm">Add category</a>
		</div> 	
	</div>
	<br>
	<div sec:authorize="hasAuthority('ADMIN')">
		<h5>Cities</h5>
		<table class="table table-striped">
			<tr>
				<th class="d-none">ID</th>
				<th>City</th>
				<th></th>
			</tr>
			<tr th:each="city : ${cities}">
				<td class="d-none" th:text="${city.cityId}"></td>
				<td th:text="${city.name}"></td>
				<td><a th:href="@{/deletecity/{id}(id=${city.cityId})}"><i class="fas fa-trash" style="color: black"></i></a></td>
			</tr>
		</table>
		<br>
		<h5>Categories</h5>
		<table class="table table-striped">
			<tr>
				<th class="d-none">ID</th>
				<th>Category</th>
				<th></th>
			</tr>
			<tr th:each="category : ${categories}">
				<td class="d-none" th:text="${category.categoryId}"></td>
				<td th:text="${category.name}"></td>
				<td><a th:href="@{/deletecategory/{id}(id=${category.categoryId})}"><i class="fas fa-trash" style="color: black"></i></a></td>
			</tr>
		</table>
		<br>
		<h5>Users</h5>
		<table class="table table-striped">
			<tr>
				<th class="d-none">ID</th>
				<th>User</th>
				<th>Role</th>
			</tr>
			<tr th:each="user : ${users}">
				<td class="d-none" th:text="${user.id}"></td>
				<td th:text="${user.username}"></td>
				<td th:text="${user.role}"></td>
			</tr>
		</table>
	</div>
</body>
</html>